/* .about-page .navbar {
    position:inherit;
} */
.white-block {
  /* margin-top:10vh; */
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content .white-block:first-child {
height:15vh;
}
.pink-block {
height:100% !important;
min-height:70vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding:50px 0px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  color: #86bfff;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #21605c;
}

.about p {
  color: #868686;
  width: 100%;
}

.about-contact a:hover {
  color: #21605c;
  z-index: 5000;
}

.about-greeting {
  text-align: left;
  color: #86bfff;
  position: absolute;
}

.about-contact {
  /* margin-top: 25%; */
  text-align: center;
  color: #86bfff;
  /* position: absolute; */
  /* bottom: -35%; */
  max-width: 615px;
  /* margin: 15% auto 0% auto; */
  /* line-height: 5rem; */
}

.about-contact h1 {
  font-size: 2rem;
  color: #21605c;
  margin-bottom: 15px;
}

.about-contact p {
  color: #868686;
}

.about-contact span {
  color: #21605c;
}

@media (max-width: 997px) {
  .about {
    /* padding: 25px; */
  }
  .about-contact {
    padding: 30px;
  }
}

@media (max-width: 750px) {
  .about {
    /* padding: 25px; */
  }
  .about-contact {
    padding: 25px;
  }
  .pink-block {
    height: 70vh;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .about-greeting {
    bottom: -125%;
  }
  .about-greeting h1 {
    width: 75%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 75%;
    margin: 5px auto;
    line-height: 2rem;
  }
  .about-contact {
    width: 75%;
    text-align: center;
    line-height: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 667px) {
  .pink-block {
    /* height:125vh; */
    /* background-color: #ffeeee; */
  }

  .about-greeting {
    bottom: -85%;
  }
  .about-greeting h1 {
    width: 75%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 75%;
    margin: 5px auto;
    line-height: 2rem;
  }
  .about-contact {
    /* width:50%; */
    line-height: 2rem;
  }
}
@media (min-width: 668px) and (max-width: 996px) {
  .pink-block {
    /* height:90vh; */
    /* background-color: #ffeeee; */
  }
  .about-greeting {
    bottom: -55%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 997px) {
  .about-greeting {
    bottom: -45%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 1050px) {
  .about-greeting {
    bottom: -40%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .about-greeting {
    bottom: -40%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 1450px) {
  .about-greeting {
    bottom: -40%;
  }
  .about-greeting h1 {
    width: 35%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 35%;
    margin: 5px auto;
    line-height: 2rem;
  }
}

.about-logo {
  width: 200px;
  position: absolute;
  right: 25%;
}

@media (max-width: 997px) {
  .about-logo {
    display: none;
  }
}
@media (max-width: 1300px) {
  .about-logo {
    width: 200px;
    position: absolute;
    right: 20%;
  }
}
@media (min-width: 1600px) {
  .about-logo {
    width: 200px;
    position: absolute;
    right: 30%;
  }
}
@media (min-width: 2000px) {
  .about-logo {
    width: 200px;
    position: absolute;
    right: 35%;
  }
}




.map {
  position:relative;
   height: 360px;
    width: 711px;
}



.story-block {
  height:50px;
}

/* MAP MARKERS */

.lni-map-marker, .lni-home {
  position:absolute;
  color:#21605c;
  cursor:pointer;
  font-size:22px;
}

.juneau {
  top: 17%;
  left: 7%;
}

.vilcabamba {
  top: 69%;
  left: 27%;
}

.lni-home {
  top: 39%;
  left: 23%;
}

.colorado {
  left: 17%;
  top: 36%;
}
.budapest {
  left: 52%;
  top: 28%;
}
.thailand {
  left: 74.5%;
  top: 50%;
}

.zambia {
  top: 66%;
  left: 53%;
}

@media(max-width:667px) {

}






@media(max-width:600px) {
  .map {
  height: 210px;
  width: 400px;
  }
}


@media (max-width:667px) {

  .about-page {
    padding:0px 25px !important;
    background-color: #f4f4f4;
  }
  .about-img {
  height:2.5vh !important;
  background-image:none !important;
  }

  .white-block {
    display:none !important;
  }



  .juneau {
    top: 15% !important;
    left: 7% !important;
  }
  
  .vilcabamba {
    top: 61% !important;
    left: 25% !important;
  }
  
  .lni-home {
    top: 35% !important;
    left: 22% !important;
  }
  
  .colorado {
    left: 16% !important;
    top: 30% !important;

  }
  .budapest {
    left: 51% !important;
    top: 24% !important;
  }
  .thailand {
    left: 72.5% !important;
    top: 43% !important;
  }
  
  .zambia {
    top: 59% !important;
    left: 52% !important;
  }


    }