/* @import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1f20;
    color: #e5e5e5;
    font: 16px/1.25 'Raleway', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

a {
    color: #a2ed56;
}

a:hover {
    color: #83e4e2;
    text-decoration: none;
} */

.container {
 
  margin: 0 auto;
  max-width: 80em;
}

main .container {
  padding: 1em;
}

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
  height:150px !important;
  background: #f7f7f7;
  color: #1d1f20;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
  display:flex;
  justify-content: center;
  /* padding-left:50px; */
  align-items: center;
}

.nav-right {
  /* position:absolute; */
  /* right:50px;
  top:15px;
  top: 50%;
  margin-top: -41.25px; */
}

/*** INPUT ***/
nav #responsive-menu {
opacity:0;
  z-index: -1;
  position: absolute;
  left: 25px;
  top: 0px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/*** LABEL ***/
#menu-label {
  cursor: pointer;
  display: block;
  /* font: 2em/1 'Oswald', sans-serif; */
  font: 1.25em/1 'Oswald', sans-serif;
  /* padding: 0.5em; */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  display:none;
}
#modal-label {
  cursor: pointer;
  display: block;
  /* font: 2em/1 'Oswald', sans-serif; */
  font: 1.25em/1 'Oswald', sans-serif;
  padding: 0.5em;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  /* width: 100px; */
  /* height: 100px; */
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
  background: #1d1f20;
  border-radius: 0.05em;
  height: 1px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

#menu-icon {
  display: inline-block;
  margin: 0.4em 0;
  max-width: 1em;
  position: relative;
}

nav label #menu-icon {
float: left;
position: absolute;
left: 50px;
top: 25px;
}

#menu-icon:before,
#menu-icon:after {
  content: '';
  left: 0;
  position: absolute;
}

#menu-icon:before {
  top: -0.4em;
}

#menu-icon:after {
  bottom: -0.4em;
}

/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
  background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
  top: 0;
  transform: rotate(-45deg);
}

nav input[type=checkbox]:checked + label #menu-icon:after {
  bottom: 0;
  transform: rotate(45deg);
}


/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
/* background-image: linear-gradient(to right bottom, #77E0D4, #2ECEE2, #00B9EF, #309FF1, #777FE0);*/
/* background-color:#77E0D4; */
background-color:#123047;
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
  margin-top:100px; /*this keeps the navbar the right color, white */
}

/* List */
nav .inner-menu {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  text-align: left;
  padding-left: 15%;
  color:white;
}

.inner-menu .category-block {
  /* border-top:1px solid white; */
  font-size:16px;
}

.menu-content > div > h1 {
  border-bottom: 1px solid white;
  margin-left: 25px;
  color: white;
  padding-bottom: 10px;
}

nav input:checked ~ div {
  /* margin: 1em; */
  max-height: inherit;
  opacity: 1;
}

nav ul > li {
  margin: 0.5em 0;
}

nav ul a {
  color: #1d1f20!important;
  text-decoration: none;
}

nav ul a:hover {
  text-decoration: underline;
}

/* Social Media */
nav ul#social-media > li {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.5em;
}


.brand-icon {
  position: absolute;
width:225px;
margin-left:-112.5px;
margin-top:-22.5px;
top:50%;
left:50%;
}



.user-nav {
  display:flex;
  align-items: center;
  /* justify-content: flex-start; */
  justify-content: center;
  position:relative;
  width:400px;
}

.nav-right img {
  width: 55px;
  border-radius:15px;
  /* margin:15px; */
}

.nav-title {
  padding:10px;
}

.nav-right * {
  margin:5px 25px;
}

.user-nav-options > a:first-of-type {
  border-bottom:2px solid rgba(190,188,188, .4);
  padding-bottom:5px;
}

.user-nav-options a {
    display: block;
    margin:10px 15px;
    /* margin-left:15px;
    overflow-x:hidden; */
}

.user-nav-options {
  box-shadow:0 2px 4px 0 rgb(0 0 0 / 13%);
  margin-top:-75px; /*TODO maybe fix*/
  width: 200px;
  background-color: #BEBCBC;
  visibility: hidden;
  position: fixed;
  top: 125px;
  right: 129px;
  border-radius:15px;
  text-align:left;
  overflow-x:hidden;
}

.user-nav-options > a:first-of-type:hover {
  /* TODO make it so that it does have opacity on hover */
  opacity:unset;
}

.user-nav:hover .user-nav-options {
  background-color: #F5F5F5;
    visibility: visible;
    transition: visiblity 300ms ease-in;
}

.user-nav-options hr {
  border-color: #F5F5F5;
  border-width: 2px;
  margin: 0px 10px;
}


@media (max-width:750px) {

  nav #responsive-menu {
      left:unset;
      right:25px;
      top:50%;
  }
  #menu-label {
      left:unset;
      right:0px;
  }
  .nav-right {
      /* width:200px; */
  }
  nav label #menu-icon {
      float: left;
      position: absolute;
      left: 50px;
      top: 50%;
      margin-top: -5px;
  }

  .nav-right .login-btn{
      display:none;
  }
  .menu-content{
      margin-top:50px;
  }
  .brand-icon {
      top:50%;
      left:150px;
    
  }
  nav .inner-menu {
      height:100vh;
      padding-left:0%;
  }
  .cat-wrapper a {
      flex: 0 0 40%;
      padding: 10px;
  }
  .menu-content > div > h1 {
      width:250px;
  }
}