.homepage-content {
    /* display:flex;
    align-items:center;
    justify-content: center; */
    width:100%;
    height:100%;
}

.contact-block {
        max-width:1100px;
        margin:0px auto;
        height:100%;
        min-height:25vh;
        display:flex;
        /* align-items: flex-start; */
        /* justify-content: center; */
        flex-direction: column;
        padding:50px;
}

.contact-block .thebtn {
    /* margin-left:25px; */
}

.contact-btn-wrapper {
    display:flex;
    justify-content: center;
}

.hp-btn-block {
    /* min-height: 25vh; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: flex-start;
    margin-top:5px;
}

.review-block {
    margin:0px 25px;
}

@media(max-width:667px) {
    .hp-btn-block {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .hp-btn-block a {
        margin:5px 0px;
    }
    .auth-text h2 {
        text-align: center;
    }
}


.contact-block img {
    width:150px;
    border-radius:75px;
    margin:0px auto;
}


/* 
.thebtn {
    background-color:#21605c;
    margin-right:15px;
    color:white;
    border-radius:5px;
    width:130px;
    padding:1rem 3rem;
    display:flex;
    align-items: center;
    justify-content:center;

} */