/* * {
  overflow-x:hidden;
} */

* {
  font-family: "azo-sans-web",sans-serif;
}

html {
  scroll-behavior: smooth;
}

.inner {
  width: 100%;
}

body {
  font-weight: 300;
}

.App {
  text-align: center;
  overflow-x: hidden !important;
}

h1,
h2 {
  /* font-family: "ivymode", sans-serif; */
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.09rem;
  font-size: 2rem;
  color:#21605c;
}

.brand-title {
  letter-spacing: 5px !important;
  /* line-height:5px; */
  color: #868686;
}

h1 {
  margin: 0;
}

p,
li,
h3,
h4,
h5,
a,
button {
  color: #2f2f2f;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: adelle, serif; */
  letter-spacing: 0.09rem;
  line-height:1.5;
}
/* .App {
  background-image:url(../src/media/moroccan-flower.png);
  box-shadow: inset 0 0 0 1000px rgba(217, 189, 189, .7);
} */

a {
  text-decoration:none;
}

a:hover {
  text-decoration: none;
  color: #58787f;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

button:focus {
  outline: none;
}


button {
  border: 1px solid #21605c;
  padding: 1em 2em;
  background-color: transparent;
  color:#21605c;
  cursor:pointer;

}
button:hover {
  background-color: #21605c;
  color:  #F0DED1;
  /* margin: 0px auto; */
  padding: 1em 2em;
  border: 1px solid#21605c;
  transition: 0.6s;
}




.thebtn {
  background-color:#21605c;
  margin-right:15px;
  color:white;
  border-radius:5px;
  width:130px;
  padding:1rem 3rem;
  /* height:35px; */
  display:flex;
  align-items: center;
  justify-content:center;

}
@media (max-width:667px) {
.thebtn {
  width:100%;
}}
