

.darkfooter {
  background-color:#F4F4F4;
  color:#868686;
  height:150px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}

.darkfooter * {
  margin:0px 0px;
}

.darkfooter h1 {
  color:#2f2f2f;
  font-size:22px;
  letter-spacing:2px;
  /* font-family: 'ivymode', sans-serif; */
  font-weight:300;
}

.link-wrapper{
  display:flex;
  max-width:980px;
  /* margin:25px 0px; */
}

.link-wrapper a:hover {
  opacity:.5;
}

.social-wrapper {
  display:flex;
  /* margin:25px 0px; */
}

.social-wrapper > * {
  margin: 0px 15px;
}
.link-wrapper a {
 margin:0px 25px;
 text-align:center;
}

.footer-brand{
  width:150px;
  margin-bottom:10px;
}

.social-wrapper i {
 font-size:22px;
  cursor:pointer;
}
.social-wrapper i:hover {
opacity:.5;
}

.soup-block {
font-size:.75rem;
}

@media(max-width:750px){
  .link-wrapper a {
    margin:10px 15px;
    text-align:center;
   }
}


