/* .works-wrapper {
    max-width:997px;
    margin:0px auto;
}
  
  .work {
    height: 27vh;
    flex-grow: 1;
    list-style-type: none !important;
    position: relative;
    background-color:black;

  }
.work img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


.works-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none !important;
  } 

  .work img:hover {
      opacity:.1;
      transition: all 0.4s;
  }

  


  .work .work-description {
      position:absolute;
      top:25%;
      background-color:white;
      left:5%;
      opacity:0;
      padding: 1rem 2rem;
      max-width:400px;
      transition: all 0.4s;
  }
  .work:hover .work-description {
   opacity:1;
    transition: all 0.4s;
}

.work-subtitle {
  font-style:italic;
}

.work-p:hover {
  opacity:1;
}
.work p:hover + .blog-img {
  opacity:.25 !important;
  transition: all 0.6s;
}
  .overlay {
    height:100%;
    width:100%;
    background-color: black;
    z-index:550;
  }

  .webdev-intro {
    width:100%;
    max-width:997px;
    padding:0px 40px;
    justify-content: center;
    text-align: left;
  }
 */


 .works-page {
   /* padding:15px; */
 }
 

 .home-wrapper {
   background-color:rgba(255,255,255, 1);
   padding:15px;
   border-radius:10px;
 min-width:300px;

 }

 .webdev-intro {
   max-width:667px;
     margin-bottom:50px;
 }


 .works-wrapper {
   margin-top:5%;
   display:flex;
   flex-wrap:wrap;
   max-width:1100px;
 }

 .work-description {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* align-items: flex-start;
   justify-content: flex-start; */
   padding:50px !important;
 }

 .job-img {
   max-width:500px;
   border-radius:10px;
   box-shadow:2px 3px #6d6d6d22;
 }

 .job-post {
   margin:50px 0px;
   display:flex;
   justify-content: flex-start;
 }


 @media (max-width:667px) {
  .job-post {
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .job-img {
    width:100%;
  }
 }
